<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE policyconfig PUBLIC "-//freedesktop//DTD PolicyKit Policy Configuration 1.0//EN"
 "http://www.freedesktop.org/standards/PolicyKit/1.0/policyconfig.dtd">
<policyconfig>
  <vendor>Steam Punk</vendor>
  <action id="io.github.labj1987.SteamPunk.setup">
    <description>Install system packages needed for wine .NET support</description>
    <message>Authentication is required to install the Windows compatibility component</message>
    <defaults>
      <allow_any>auth_admin</allow_any>
      <allow_inactive>auth_admin</allow_inactive>
      <allow_active>auth_admin</allow_active>
    </defaults>
    <annotate key="org.freedesktop.policykit.exec.path">/usr/lib/steampunk/privileged-setup.sh</annotate>
  </action>
</policyconfig>
